@font-face {
  font-family: 'Pokemon GB';
  src: url('http://www.fontsaddict.com/fontface/pokemon-gb.ttf');
}

.gui-upper {
/*   display:none; */
  width: 420px;
  height:250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:url(https://orig00.deviantart.net/e25b/f/2014/308/3/c/pokemon_x_and_y_battle_background_16_by_phoenixoflight92-d8594wx.png);
  border: solid #483D8B 5px;
}

.hptext{
  display:inline;
}
p{
  margin:5px 0 0 5px;
  font-family: 'Pokemon GB', cursive;
  font-size: 15px;
}

button{
  font-family: 'Pokemon GB', cursive;
  background-color: #FFF;
  font-size: 25px;
}

.gui-mid{
/*   display:none; */
  width: 420px;
  height:100px;
  background-color:#5F9EA0;
  border: solid red 5px;
/*   border: dotted blue 1px; */
}

#gui-message{
  color: white;
  font-size: 20px;
}

.gui-lower{
/*   display:none; */
  width: 420px;
  height:250px;
  background-color:#F0F0F0;
  border: solid #483D8B 5px;
}

.pokemon-menu{
  width:50%;
  height:50%;
}

.pokemon-menu-right{
  float:right;
}

.pokemon-menu-container{
  position:absolute;
}

.attacks{
  display:none;
}

.pokemon {
  position:absolute
}

#pikachu{
  left:225px
}

#torchic{
  top:100px;
}

.pokemon-sprite {
  height: 200px
}

.health-bar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 175px;
  height: 60px;
  padding: 5px;
  background: #ddd;
  position:relative;
  top: 35px;
}

.torchic-info{
  left:245px;
  top:100px;
}

.bar {
  background: #7CFC00;
  width: 100%;
  height: 7px;
  position: relative;

  transition: width .5s linear;
}

.hit {
  background: rgba(255,255,255,1);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0px;
  transition: width .5s linear;
}
