*, h1, h2{
  font-family: 'Montserrat', sans-serif;
}

p{
  margin: 0;
}

h1{
  font-size:200px;
  font-weight: 200;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  color:white;

}
h2{
  font-size:20px;
  font-family: 'Montserrat', sans-serif;
  margin-left: 20px;
  color:white;
}

h4{
  margin-top: 25px;
}

h3{
  margin: 0;
  padding: 0;
}

h5{
  font-weight: 800;
  font-size: 35px;
  margin: 0;
}

h6{
  font-weight: 200;
  font-style: italic;
  margin: 0;
}

.onlylarge{
  display: none;
}

.onlynotsmall{
  display:none;
}

a{
  color: black;
}

a:hover{
  color: #5F4B8B;
}

::-moz-selection {
   background-color: #5F4B8B;
   color: white;
}
::selection {
    background-color: #5F4B8B;
    color: white;
}

.navbar-toggler{
  border:none;
}

.bg-custom{
  background-color: white;
}

.navbar-toggler{
  margin-right: -20px;
}

#navbar-sub{
  font-size: 10px;
  color:#5F4B8B;
}

.navbar-brand{
  margin-left: -15px;
}

.navbar-collapse{
  padding:0 10%;
}

.nav-active{
  font-weight: 800 !important;
}

p.nav-link-item{
  padding:4px;
  -webkit-transition: color 0.25s, font-size 0.25s;
  transition: color 0.25s, font-size 0.25s;
}

.navdiv{
  padding: 14px;
}

.nav-link-item:hover{
  color:#5F4B8B;
  font-weight: 600;
  font-size: 17px;
  text-shadow: 1px 5px 10px #999;
}

header {
  margin-top: 10px;
  margin-bottom: 5px;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  line-height: 25px;
  background-color: #f0f0f0;
  text-align: center;
}

.footertext{
  font-size: 10px;
}

.footer-margin{
  height: 15px;
}

.largediv{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}

.largediv2{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('bg3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px
}

.chs{
  padding-top: 100px;
  padding-bottom: 10px;
}

.cvideos{
  margin-top: 25px;
}

.thumb-container{
  margin-bottom: 20px;
}

.thumbnail{
  max-height: 100%;
  max-width: 100%;
  -webkit-transition: box-shadow 0.25s, max-width 0.25s;
  transition: box-shadow 0.25s, max-width 0.25s;
}

.thumbnail:hover{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.20), 0 12px 40px 0 rgba(0, 0, 0, 0.25);
  max-height: 101%;
  max-width:101%;
}

.thumblink{
  color: black;
}

.thumblink:hover{
  color: #5F4B8B;
}

.thumb-caption{
  font-weight: 400;
  font-size: 15px;
  float: left;
  font-style: italic;
}
.thumb-caption-time{
  float: right;
  font-style: italic;
}

#profile{
  max-height: 100%;
  max-width: 100%;
}



.vid-text{
  font-style: italic;
  font-weight: 200;
}

.eetext{
  font-family: 'power_clearregular', cursive;
  font-size: 100px;
}

.pikachu{
  display:none;
  position: fixed;
}

.pikachu-img{
  top: -5%;
  left: 50%;
  margin-left: -513px;
}

.pikachu-text{
  word-wrap: break-word;
  width: 95%;
  height: 300px;
  background-color: #DDD;
  top: 60%;
  left: 2.5%;
}

.contact-content{
  margin-top: 40px;
}

.fas, .fab{
  font-size: 30px;
}

.contact-link{
  color: black;
}

.contact-link:hover{
  color:#5F4B8B;
  text-decoration: none;
}
